

.navbar{
    overflow: hidden;
    min-width:700px;
    height: 70px;
    border-bottom: 5px solid #a50330;
    position:fixed;
    width:100%;
    top:0;
    display:flex;
    text-align: center;
    align-items: center;
    font-family: MrsEaves;
    justify-content: space-between;
    background: url("../../page.jpg") no-repeat center fixed;
  background-size: cover;
}

.nav-title{
    height:40px;
    border-right:2px solid #a50330;
    display:flex;
    align-items: center;
    font-size: 36px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    flex-shrink:0;
    cursor: pointer;
}
.nav-title img{
    height:40px;
    margin-right:10px;
    margin-bottom:5px;
}
.nav-buttons{
    flex-shrink:1;
    flex-grow:1;
    display:flex;
    justify-content: space-evenly;
}