.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
html{
  height:100%;
}
body{
  height:100%;
  background: url("./page.jpg") no-repeat center fixed;
  background-size: cover;
}
.body{
  position:fixed;
  top:75px;
  width:100%;
  left:0;
  height:calc(100% - 75px);
  overflow-y:auto;
}
@font-face{
  font-family: MrsEaves;
  src:url("./MrsEavesRoman.ttf")
}

@font-face{
  font-family: EffraMedium;
  src:url("./Effra_Std_Md.ttf")
}

@font-face{
  font-family: EffraLight;
  src:url("./Effra_Std_Lt.ttf")
}

@font-face{
  font-family: EffraRegular;
  src:url("./Effra_Std_Rg.ttf")
}